.fondo{
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 10%;
    transition: visibility 0.5s ease-in-out;
}

.select{
    width: 100%;
}

.personajes{
    display: flex;
    justify-content: center;
    width: 85vw;
}

.personajes img{
    width: 150px;
    padding: .5rem;
    border: 10px solid gold;
    margin: 3rem;
}

.personajes img:hover{
    transform: scale(1.15);
}