.fondo{
    height: 100vh;
    background: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 6%;
    transition: visibility 0.5s ease-in-out;
}

.select{
    width: 100%;
}

.personajes{
    display: flex;
    justify-content: center;
    width: 85vw;
}

.personajes img{
    width: 150px;
    padding: .8rem;
    border: 3px solid #de40de;
    margin: 3rem;
    margin-top: 5rem;
}

.personajes img:hover{
    transform: scale(1.15);
}