.container1{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    transition: visibility 0.5s ease-in-out;
    background-color:black;
    padding: 0 1rem 1rem;
    transition: box-shadow 0.3s ease;
}

.horizontal-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0;
    margin-top: 2.5rem;
}

.itemContain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    padding-left: 0;
    width: 150px;
    justify-self: center;
    box-shadow: 0 0 10px 5px white;
}

.itemContain img{
    width: 150px;
    height: 165px;
    margin-right: 2.5rem;
    margin-left: -3rem;
}

.itemContain h3{
    margin-bottom: 0;
    margin-top: 0;
}