.contenedor-de-premios{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    border: 10px solid rgb(237, 110, 0);
    justify-self: flex-end;
}

.panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}
  
.casilla {
}
  
.casilla img {
  width: 68px;
  height: 70px;
  filter: grayscale(100%);
}